include _mixins

mixin repo
  a(href="https://github.com/jaantoots/maths3")
    i.fa.fa-github.fa-fw
ul.list-unstyled.flex
  li: h1 Mathematics Part III
    span.visible-xs-inline
      +repo
  li.hidden-xs: h1
    +repo

ul.nav.nav-tabs(role="tablist")
  li.active(role="presentation"): a(href="#lent" role="tab" data-toggle="tab") Lent
  li(role="presentation"): a(href="#michaelmas" role="tab" data-toggle="tab") Michaelmas
p
.tab-content
  .tab-pane.fade.in.active#lent(role="tabpanel")
    +courses(["tco", "sm"], ["aqft", "bh"])
  .tab-pane.fade#michaelmas(role="tabpanel")
    +courses(["sym", "qft"], ["gr", "msm"])

!= partial("notes")
