include _mixins

mixin repo
  a(href="https://github.com/jaantoots/maths3")
    i.fa.fa-github.fa-fw
ul.list-unstyled.flex
  li: h1 Mathematics Part III
    span.visible-xs-inline
      +repo
  li.hidden-xs: h1
    +repo

+courses(["sym", "qft"], ["gr", "msm"])

!= partial("notes")
